@media screen and (max-width: 480px) {
  .container {
    display: block;
    div {
      height: 20rem;
      margin-bottom: 1rem;
    }
  }

  .content {
    padding: 0rem;
  }

  .container1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    img {
      height: 100%;
      max-width: 100%;
    }
  }

  nav {
    display: block;
    padding-left: 2rem;
    a {
      display: block;
    }
  }

  .wrapper {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    div {
      height: 10rem;
    }
  }

  nav {
    display: block;
    padding-left: 2rem;
    a {
      display: block;
    }
  }
  .content {
    padding: 0rem;
  }

  .container1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    img {
      height: 100%;
      max-width: 100%;
    }
  }

  .wrapper {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    div {
      height: 20rem;
    }
  }
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container1 {
    padding-left: 5rem;
    padding-right: 5rem;
    img {
      height: 25rem;
    }
  }

  .wrapper {
    display: flex;
  }
}
